pip-tools==7.3.0
pylint==2.17.7
black==23.10.0
pylint-django==2.5.3
django-stubs==4.2.5
django-extensions==3.2.3
ptpython==3.0.23
djangorestframework-stubs==3.14.4
djangorestframework==3.14.0
django-cors-headers==4.3.0
