#add-activity-modal .ant-list .ant-row > div,
#add-activity-modal .ant-list .ant-row .ant-col:first-child {
  display: flex;
}
#add-activity-modal .ant-list .ant-row .ant-list-item {
  flex: 1 1 auto;
}
#add-activity-modal .ant-list .ant-row .ant-list-item .ant-card {
  height: 100%;
}

.quick-add-menu.ant-float-btn-group-circle {
    width: 60px;
}

.quick-add-menu .ant-float-btn-circle, .quick-add-menu .ant-float-btn-body {
    width: 60px !important;
    height: 60px !important;
}
.quick-add-menu .ant-float-btn-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quick-add-menu .ant-float-btn-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}